@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
@layer components{
  .nav-items{
    @apply hover:text-white text-lg transition-all duration-100 ease-linear font-bold;
  }
  .wallet{
    @apply text-[#ECB365] text-lg hover:text-[#bb9054] transition-all duration-100 ease-linear font-bold;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #041C32;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Roboto',
    monospace;
}
.decoration{
  width: 600px;
}
.theme{
  position: absolute;
  font-size: 130px;
  top: 80px;
  left: 100px;
  line-height: 130px;
}
.wallet{
  color: #ECB365;
  font-size: large;
  font-weight: 510;
}
.wallet:hover{
  text-decoration: none;
  color: #bb9054;
}
.nav-items{
  color: #ffffff;
  font-size: large;
  font-weight: 510;
}
.nav-items:hover{
  color: #d0d0d0;
  text-decoration: none;
  border-bottom: 5px solid #ECB365;
}

.active{
  border-bottom: 5px solid #ECB365;
}